@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div class="row">
    <span class="panel-body">Authentication type: @ViewBag.AuthType</span>
    <span class="panel-body">Your login: @ViewBag.Login</span>
    <span class="panel-body">@ViewBag.IsAdminInRole</span>
</div>