@model ICollection<MvsPL.Models.AnswerViewModel>
<h2>Results</h2>
@*<p>
    Test title: <b></b>
</p>*@

@foreach (var item in Model)
{
    <p>
        Question # @item.QuestionId: @Html.Action("GetQuestion",new{id=item.QuestionId}).
    </p>
    <p>
        Your answer:  @item.Text
    </p>
}